<div class="row">
    <div class="col-sm-4">
        <form action="/resendLink" method="POST">
        {{#each err}}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{text}}
        </div>
        {{/each}}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" value="{{email}}" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Resend Link</button>
        </form>
    </div>
</div>